@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Music DataBase</h1>
    <p></a>.</p>
</div>-->
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <div class="imagemDeFundo">
                <p>Music</p>
            </div>
        </div>
    </div>
</div>