@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Music DataBase</h1>
    <p></a>Base de dados de musicas inseridas pelos artistas e para consulta dos fãns.</p>
</div>
